<template>
  <footer class="bg-primary text-white py-4">
    <div class="container">
      <p>Tourcorrecaminos.com © 2020</p>
    </div>
  </footer>
</template>

<script>
export default {
  name: "TheFooter"
};
</script>