<template>
  <footer class="my-3">
    <div class="container-fluid">
      <p>Tourcorrecaminos.com © 2020</p>
    </div>
  </footer>
</template>

<script>
export default {
  name: "TheFooterAdmin"
};
</script>
