<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
      <nuxt-link class="navbar-brand text-uppercase" to="/">Tourcorrecaminos</nuxt-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" v-for="(link, index) in links" :key="index">
            <nuxt-link class="nav-link" :to="link.link">
              <i :class="link.icon" class="me-2" v-if="link.icon"></i>{{ link.title }}
            </nuxt-link>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <div class="input-group">
            <input type="search" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="search">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit" id="search">Buscar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'TheHeader',
  props: ['menus'],
  data() {
    return {
      links: [
        {
          icon: '',
          link: '/',
          title: 'Home',
        },
        {
          icon: '',
          link: '/',
          title: 'Link 1',
        },
        {
          icon: '',
          link: '/',
          title: 'Link 2',
        },
      ]
    }
  }
}
</script>

<style scoped></style>
