<template>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <nuxt-link class="navbar-brand text-uppercase" to="/wp-admin"
      >Backoffice</nuxt-link
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/" target="_blank">Ver sitio</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <input
            type="search"
            class="form-control"
            placeholder="Buscar"
            aria-label="Buscar"
            aria-describedby="search"
          />
          <div class="input-group-append">
            <button class="btn btn-success" type="submit" id="search">
              Buscar
            </button>
          </div>
        </div>
      </form>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'TheHeaderAdmin',
}
</script>

<style scoped></style>
