<template>
  <div>
    <TheNavbarAdmin />
    <main class="bg-light">
      <nuxt />
    </main>
    <TheFooterAdmin />
  </div>
</template>

<script>
import TheFooterAdmin from '~/components/TheFooterAdmin'
import TheNavbarAdmin from '~/components/TheHeaderAdmin'

export default {
  name: 'administration',
  components: {
    TheFooterAdmin,
    TheNavbarAdmin,
  },
}
</script>

<style scoped>
main {
  min-height: calc(100vh - 7rem);
}
</style>
