<template>
  <div>
    <TheHeader />
    <main class="bg-light">
      <nuxt />
    </main>
    <TheFooter />
  </div>
</template>

<script>
import TheFooter from '~/components/TheFooter'
import TheHeader from '~/components/TheHeader'

export default {
  components: {
    TheFooter,
    TheHeader,
  },
}
</script>

<style scoped>
main {
  min-height: calc(100vh - 9rem);
}
</style>
