<template>
  <main class="bg-light">
    <div class="container">
      <h1 v-if="error.statusCode === 404">Page not found</h1>
      <h1 v-else>An error occurred</h1>
      <nuxt-link to="/"> Home page </nuxt-link>
    </div>
  </main>
</template>

<script>
import TheFooter from '~/components/TheFooter'
import TheHeader from '~/components/TheHeader'

export default {
  name: 'Error',
  components: {
    TheFooter,
    TheHeader,
  },
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
}
</script>

<style scoped>
main {
  min-height: calc(100vh - 9rem);
}

.container {
  font-family: sans-serif;
  padding-top: 10%;
  text-align: center;
}

h1 {
  font-size: 20px;
}
</style>
